.container {
  width: 1200px;
  padding: 3px;
  margin: 0 auto;
}

.border {
  border: solid 1px;
}

input[type="submit"],
button {
  cursor: pointer;
}

body {
  position: relative;
}

.error {
  color: red;
  font-size: 12px;
}

.short-text-product {
  width: 392px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short-text-product-admin {
  display: inline-block;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

.height-auto {
  height: 45px !important;
}

.height-have-cart {
  height: 295px !important;
}

#notification {
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);

  background-color: green;
  color: white;
  padding: 5px 7px;
  border-radius: 5px;
}

.show {
  animation: _show 2s ease-in-out forwards;
}

@keyframes _show {
  0%, 100% {
    top: -50%;
  }

  30%, 80% {
    top: 20%;
  }
}

.not-allowed {
  cursor: not-allowed !important;
  opacity: 0.5;
}