.container {
  width: 1200px;
  padding: 3px;
  margin: 0 auto;
}

.border {
  border: solid 1px;
}

input[type="submit"],
button {
  cursor: pointer;
}

body {
  position: relative;
}

.error {
  color: red;
  font-size: 12px;
}